SERVER_PORT=8080

# Database
# Setup your own PostgreSQL instance and update this URL
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/menu_tree?sslmode=disable

# Database connection (option 2: individual params)
# DATABASE_HOST=localhost
# DATABASE_PORT=5432
# DATABASE_USER=postgres
# DATABASE_PASSWORD=postgres
# DATABASE_NAME=menu_tree
# DATABASE_SSLMODE=disable
